<div class="sk-request col px-0 px-sm-1 px-xl-3 mb-3" id="request-[id]">
    <div class="sk-request-card-slim p-2 p-md-3">
        <div class="sk-request-card-slim-header d-block d-xl-flex align-items-center text-center">
            <img class="sk-profile-image-responsive shadow mb-2" src="libs/images/employee_1.jpg" alt="Profile Picture">
            <h4 class="sk-text-gray ms-0 ms-xl-3">[name]</h4>
            <label class="sk-checkbox-wrapper sk-text-light-gray">
                <input class="sk-request-checkbox" id="select-[id]" type="checkbox" onchange="selectCard(this)">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="row">
            <div class="col-xl-7">
                <p class="sk-text-light-gray mb-0">
                    Submitted:
                </p>
                <p class="sk-text-gray fw-semibold">
                    9/2/2024 8:47am
                </p>
    
                <p class="sk-text-light-gray mb-0">
                    Duration
                </p>
                <p class="sk-text-gray fw-semibold">
                    2 Weeks<br>(9/29/2024 - 10/13/2024)
                </p>
    
                <p class="sk-text-light-gray mb-0">
                    Salary
                </p>
                <p class="sk-text-gray fw-semibold mb-2 mb-xl-0">
                    980 JOD
                </p>
            </div>
            <div class="col-xl-5 align-self-end">
                <button class="btn btn-success d-block text-center mb-2 w-100 py-1">Approve</button>
                <button class="btn btn-outline-success d-block text-center w-100 py-1">Decline</button>
            </div>
        </div>
    </div>
</div>