<div class="col px-1" id="[name]">
    <div class="sk-request-card-slim p-2 p-md-3 mb-2">
        <div class="text-center">
            <img class="sk-profile-image-lg shadow mb-2" src="libs/images/employee_1.jpg" alt="Profile Picture">
            <h4 class="sk-text-gray">[name]</h4>
        </div>
        <div>
            <p class="sk-text-light-gray mb-0">
                Submitted:
            </p>
            <p class="sk-text-gray fw-semibold">
                9/2/2024 8:47am
            </p>

            <p class="sk-text-light-gray mb-0">
                Duration
            </p>
            <p class="sk-text-gray fw-semibold">
                2 Weeks (9/29/2024 - 10/13/2024)
            </p>

            <p class="sk-text-light-gray mb-0">
                Salary
            </p>
            <p class="sk-text-gray fw-semibold">
                980 JOD
            </p>
        </div>
        <div>
            <button class="btn btn-success d-block text-center mb-2 w-100 py-1">Approve</button>
            <button class="btn btn-outline-success d-block text-center w-100 py-1">Decline</button>
        </div>
    </div>
</div>